
 header .navigation{
   position: relative;

}
  header .navigation .navigation-items a{
    position: relative;
    left: 70px;
    top: 40px;
    
  }
 
  header .navigation .navigation-items1 a{
   position: relative;
   color: black;
   font-size: 20px;
   text-decoration: none;
   left: 37px;
   top: 40px;
  }
  
.image{
   position: absolute;
   top: 0;
   z-index: -1;
   background-image: url(../../assets/img/lattecoffee.jpg); 
   background-size: cover;
   background-position:center;
   background-repeat:no-repeat;
   width: 100%;
   height: 350px;   
}
.box{
   background-color: #ffb56c;
   width:100%;
   height: 90px;
   position: relative;
   top: 280px;
}
.boximg{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    top: 10px;
  }

