.box2{
     position: relative;
     background-color: #ffffff;
     width:100%;
     height: 400px;
     top: 270px;
  }
  .col-sm-4{
     position: relative;
     top: 30px;
     width:20%;
     height: 300px;
     left: 55px;
     margin-right: 30px;
     border-radius: 10px;
  }
  .card{
     background-color: #ffb56c;
   
 }
  
  
  
  