.box2{
    position: relative;
    background-color: #ffffff;
    width:100%;
    height: 400px;
    top: 270px;
 }
 .boxcast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px 50px;
    height: 70px;
    border-bottom: 1px solid hsl(0, 0%, 81%);
    font-size: 18px;
    font-weight: bold;
 }