*{
    background-color: #FFFAF4;
 }
 .header{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
 }
 
 header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color:#696969;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    margin-right: 60px;
    transition: 0.3s ease;
    left: 50px;
    top: 50px;
  }
